@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background: white;
  font-family: "Press Start 2P", cursive;
}

.container {
  height: auto;
  width: 100%;
  background: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
  padding-bottom: 200px;
}
